@media screen and (min-width: 576px){
    .modal-dialog{max-width: 800px;margin: 1.75rem auto;}
}
@media screen and (max-width: 991px){
    .list-menu li{padding-left: 0;}
    .list-menu {text-align: center;}
    .btn-header-login {text-align: center;}
    .content-desc {margin-bottom: 50px;}
    .paid .container .row{padding: 20px;}
    .paid .col-md-5 {margin-bottom: 50px;}
    .paid .col-md-4 {margin-bottom: 20px;}
    .earing-money .col-md-4 {margin-bottom: 20px;}
    .number .col-md-4{margin-bottom: 20px;}
    .bloc-footer .col-md-3 {margin-bottom: 20px;}
    .bloc-footer{text-align: center;}
    .link-footer ul li{padding-right: 10px;}
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .btn-header-login button{font-size: 13px;}
    .content-weeklyLeaderboard{padding: 35px;}
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .content-weeklyLeaderboard{padding: 35px;}
    .position-leaderboard {left: 0;top: 0;}
    .list-leaderboard{margin-bottom: 20px;}
    .first-leaderboard h5, .second-leaderboard h5{margin-top: 0px;}
    .list-offert{width: 100%; margin-bottom: 20px;}
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .content-weeklyLeaderboard{padding: 35px;}
    .position-leaderboard {left: 0;top: 0;}
    .list-offerwals{padding: 10px;}
    .content-offerwals img {max-width: 40px;}
}
@media screen and (max-width: 767px){
    .recap-referrals .col-md-6, .col-md-3 {margin-bottom: 30px;}
    .rank-with-icon{display: initial; float: none; margin-top: 10px;}
    .bloc-medaille .col-md-4 {margin-bottom: 30px;}
    .marge {margin-top: 0;}
}
@media screen and (max-width: 1199px){
    .day-reward .col{flex-basis: initial;}
}